header.header
    .header__column
        a(href=routes.home)
            i.fab.fa-youtube
    .header_column
        form(action=routes.search method="get")
            input(type="text" placeholder="Search By ..." name="term")
    .header__column
    if !user.isAuthenticated
        ul 
            li
                a(href=routes.join) Join
            li
                a(href=routes.login) Login
    else
        ul 
            li
                a(href=`videos${routes.upload}`) Upload
            li
                a(href=routes.userDetail(user.id)) Profile
            li
                a(href=routes.logout) Logout
